[submodule "FMS"]
	path = FMS
	url = https://github.com/rmontuoro/FMS.git
	branch = aqm
[submodule "FV3"]
	path = FV3
	url = https://github.com/rmontuoro/fv3atm.git
	branch = aqm
[submodule "NEMS"]
	path = NEMS
	url = https://github.com/rmontuoro/NEMS.git
	branch = aqm
[submodule "WW3"]
	path = WW3
	url = https://github.com/NOAA-EMC/WW3.git
	branch = develop
[submodule "stochastic_physics"]
	path = stochastic_physics
	url = https://github.com/noaa-psd/stochastic_physics
	branch = master
[submodule "AQM"]
	path = AQM
	url = gerrit:AQM
	branch = development
