[submodule "FV3"]
	path = FV3
	url = gerrit:FV3
	branch = aqm_coupling
[submodule "NEMS"]
	path = NEMS
	url = gerrit:NEMS
	branch = aqm_coupling
[submodule "AQM"]
	path = AQM
	url = gerrit:AQM
	branch = development
[submodule "FMS"]
	path = FMS
	url = git://github.com/NOAA-EMC/FMS
	branch = GFS-FMS
